#root {
  width: 100%;
  height: 100%;
}
.App {
  width: 100%;
  /* background-color: #1d9954; */
  display: flex;
  min-height: 100vh;
  background: url(../public/assets/image/bg2.png) center center no-repeat;
  background-size: cover;
}
.logo {
  width: 100px;
}
.logo img {
  width: 100%;
  object-fit: cover;
}
.list {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-wrapper {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}
/* Mobile-item */
.item-mobile {
  width: 90%;
  border: 5px solid #464646;
  border-bottom: none;
  margin-top: 50px;
  border-radius: 20px 20px 0 0;
  background-color: #afafaf;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
.swiper {
  width: 100%;
}
.swiper-slide {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
}
.item-mobile .swiper-slide.check {
  background-color: #fff;
}
.item-mobile .swiper-slide img {
  width: 100%;
  object-fit: cover;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 53% !important;
  opacity: 0.5;
}
.swiper-pagination-bullet {
  width: 5px !important;
  height: 5px !important;
}
.swiper-pagination-bullet-active {
  background-color: #333 !important;
}
/* Item */
.item {
  width: 95%;
  border: 5px solid #464646;
  border-bottom: none;
  margin-top: 50px;
  border-radius: 20px 20px 0 0;
  background-color: #afafaf;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.7);
}
.item ul {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  box-sizing: border-box;
}
.item ul li {
  width: calc(100% / 10);
  /* height: 70px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-color: #afafaf;
  box-sizing: border-box;
  cursor: pointer;
}
.item ul li.check {
  background-color: white;
}
.item ul li:nth-child(10) {
  border-right: none;
}
.item ul li:nth-child(11) {
  border-bottom: none;
}
.item ul li:nth-child(12) {
  border-bottom: none;
}
.item ul li:nth-child(13) {
  border-bottom: none;
}
.item ul li:nth-child(14) {
  border-bottom: none;
}
.item ul li:nth-child(15) {
  border-bottom: none;
}
.item ul li:nth-child(16) {
  border-bottom: none;
}
.item ul li:nth-child(17) {
  border-bottom: none;
}

.item ul li:hover {
  background-color: rgb(167, 167, 167);
}
.item img {
  width: 80%;
  object-fit: cover;
}
.item-box {
  width: 100%;
  height: 55%;
  position: relative;
  border: 5px solid #464646;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.7);
}
.item-box .seal-list {
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 1rem;
  padding-top: 0.8rem;
}
.seal-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seal-list ul li {
  width: calc(100% / 6);
}
.seal-list ul li img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.item-box h3 {
  width: 100%;
  text-align: left;
  font-size: 2rem;
  text-transform: uppercase;
  color: transparent;
  padding-left: 1rem;
  padding-top: 0.5rem;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: #707070;
  pointer-events: none;
}

.item-box .item-box-list {
  width: 98%;
  height: 450px;
  overflow-y: scroll;
  background-color: #d4d4d4;
  border-radius: 20px;
  position: relative;
}
.item-box .item-box-list::-webkit-scrollbar {
  display: none;
}

.item-box-list ul {
  position: absolute;
  top: -50%;
  opacity: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12.4px;
  padding: 20px 10px 20px 10px;
}
.item-box-list ul.action {
  top: 0;
  opacity: 1;
  transition: 0.2s;
}
.item-box-list ul li {
  width: calc(100% / 5 - 10px);
  border: 3px solid #707070;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}
.item-box-list ul li:hover {
  background-color: #d4d4d4;
}
.item-box-list ul li:hover img {
  transform: scale(0.8);
}
.item-box-list ul li.checked {
  background-color: #707070;
}

.item-box-list ul li img {
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}

/* item-bottom(MOBILE) */
.link-fade {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #afafaf;
  z-index: 20;
  opacity: 0.9;
}
.mobile-wrapper {
  width: 100%;
  height: 33vh;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.mobile-bottom {
  width: 90%;
  height: 15%;
  min-height: 130px;
  border: 5px solid #464646;
  border-radius: 20px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
}

.mobile-bottom img {
  width: calc(100% / 7);
  aspect-ratio: 1/1;
  border: 3px solid #707070;
  border-radius: 10px;
}
.mobile-bottom h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #707070;
  pointer-events: none;
  text-align: center;
}

/* item-bottom(PC) */
.item-bottom {
  width: 100%;
  height: 15%;
  min-height: 130px;
  border: 5px solid #464646;
  border-radius: 20px;
  background-color: white;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.item-bottom img {
  width: calc(100% / 7);
  aspect-ratio: 1/1;
  border: 3px solid #707070;
  border-radius: 10px;
}
.item-bottom h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #707070;
  pointer-events: none;
  text-align: center;
}
.reset-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.reset-box div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.reset-box div img {
  width: 70px;
  object-fit: cover;
  cursor: pointer;
}
.reset-box div img:hover {
  background-color: #464646;
}
.reset-box p {
  font-size: 1rem;
  color: #707070;
  text-align: center;
}

/* Default */
.default {
  width: 50%;
  height: 100vh;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.default button {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 5%;
  right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d4d4d4;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  z-index: 9999;
}
.default button img {
  width: 60%;
  height: 60%;
  object-fit: cover;
}

.default .default-reset {
  display: none;
}
.default-inner {
  width: 900px;
  height: 900px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1350px) {
  .default-inner {
    width: 800px;
    height: 800px;
  }
  .default button {
    width: 90px;
    height: 90px;
  }
}
@media screen and (max-width: 1150px) {
  .default-inner {
    width: 800px;
    height: 800px;
  }
}
@media screen and (max-width: 800px) {
  .default-inner {
    width: 100%;
    height: 100%;
  }
  .default-inner img {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .default-inner {
    width: 100%;
    height: 100%;
  }
  .default-inner img {
    width: 100%;
  }
  .default button {
    width: 70px;
    height: 70px;
  }
}
.default-inner img {
  width: 100%;
  position: absolute;
  object-fit: cover;
}
.default .default-inner img.default-package {
  z-index: 0;
}
.default .default-inner img.default-bzone {
  z-index: 1;
}
.default .default-inner img.default-partner {
  z-index: 1;
}
.default .default-inner img.default-boxeffect {
  z-index: 1;
}
.default .default-inner img.default-slot {
  z-index: 3;
}
.default .default-inner img.default-pattern {
  z-index: 2;
}
.default .default-inner img.default-design {
  z-index: 4;
}
.default .default-inner img.default-basics {
  z-index: 5;
}
.default .default-inner img.default-azone {
  z-index: 6;
}
.default .default-inner img.default-body {
  z-index: 7;
}
.default .default-inner img.default-eye {
  z-index: 7;
}

.default .default-inner img.default-feel {
  z-index: 7;
}
.default .default-inner img.default-hair {
  z-index: 8;
}
.default .default-inner img.default-bottom {
  z-index: 11;
}
.default .default-inner img.default-shoes {
  z-index: 12;
}
.default .default-inner img.default-arms {
  z-index: 13;
}
.default .default-inner img.default-top {
  z-index: 14;
}
.default .default-inner img.default-onepiece {
  z-index: 14;
}
.default .default-inner img.default-acc {
  z-index: 15;
}
.default .default-inner img.default-face {
  z-index: 16;
}

.default .default-inner img.default-head {
  z-index: 16;
}
.default .default-inner img.default-clearboard {
  z-index: 20;
}
.default .default-inner img.default-seal {
  z-index: 21;
}
