@media screen and (max-width: 1200px) {
  .item-box-list ul {
    gap: calc(100% / 8 - 0px);
  }
  .item-box-list ul li {
    width: calc((100% / 4));
    margin-bottom: 20px;
  }
  .item-bottom {
    gap: 30px;
  }
  .item-bottom img {
    width: calc(100% / 5);
  }
  .item-bottom h2 {
    font-size: 1.3rem;
  }
  .reset-box div img {
    width: 50px;
  }
  /* mobile */
  .mobile-bottom {
    gap: 30px;
  }
  .mobile-bottom img {
    width: calc(100% / 5);
  }
  .mobile-bottom h2 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1050px) {
  .item-box h3 {
    font-size: 1.6rem;
  }
  .item-bottom h2 {
    font-size: 1.1rem;
  }
  .mobile-bottom h2 {
    font-size: 1.1rem;
  }
  .reset-box div img {
    width: 40px;
  }
  .reset-box p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 920px) {
  .App {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .logo {
    left: 10px;
    top: 20px !important;
    width: 40px;
  }
  .list {
    width: 100%;
    margin-bottom: 50px;
  }
  .default {
    width: 100%;
    height: 50vh;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .default-inner {
    .default-inner {
      width: 100%;
      height: auto;
    }
  }
  .item-box h3 {
    font-size: 2rem;
  }
  .item-box-list ul {
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .item-box-list ul li {
    width: calc(100% / 4.5);
  }
  .item-bottom {
    margin-bottom: 50px;
  }
  .item-bottom img {
    width: calc(100% / 7);
  }
  .item-bottom h2 {
    font-size: 1.6rem;
  }
  .mobile-bottom {
    margin-bottom: 50px;
  }
  .mobile-bottom img {
    width: calc(100% / 7);
  }
  .mobile-bottom h2 {
    font-size: 1.6rem;
  }
  .reset-box .reset {
    display: none;
  }
  .reset-box div img {
    width: 60px;
  }
  .reset-box p {
    font-size: 1rem;
  }

  .default .default-reset {
    display: block;
    position: absolute;
    bottom: -20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px solid #707070;
    border-radius: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.7);
  }
  .default .default-reset img {
    width: 50px;
  }
  .default .default-reset p {
    font-size: 1rem;
    color: #707070;
  }
  .default button {
    width: 80px;
    height: 80px;
    bottom: 0;
    top: 2%;
    right: 2%;
  }
}
@media screen and (max-width: 650px) {
  .item {
    width: 90%;
  }
  .item-box h3 {
    font-size: 1.4rem;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #707070;
  }

  .item-box-list ul li {
    width: 100px;
  }

  .item-box-list ul li:hover img {
    transform: scale(1);
  }
  .item-bottom h2 {
    font-size: 1.3rem;
  }
  .mobile-bottom h2 {
    font-size: 1.3rem;
  }
  .default button {
    width: 50px;
    height: 50px;
  }
  .default {
    margin-bottom: 30px;
    margin-top: 0px;
  }
  .default .default-reset {
    bottom: -10%;
  }
}
@media screen and (max-width: 550px) {
  .item-box {
    height: 250px;
  }
  .item-box h3 {
    font-size: 1.2rem;
  }
  .item-box .item-box-list {
    height: 70%;
  }
  .item-box-list ul {
    gap: 20px;
  }
  .item-box-list ul li {
    width: 70px;
    margin-bottom: 0;
  }
  .item-bottom {
    min-height: 100px;
  }
  .item-bottom img {
    width: 80px;
  }
  .item-bottom h2 {
    font-size: 0.9rem;
  }
  .mobile-bottom {
    min-height: 100px;
  }
  .mobile-bottom img {
    width: 80px;
  }
  .mobile-bottom h2 {
    font-size: 0.9rem;
  }
  .mobile-bottom p {
    font-size: 0.8rem;
  }
  .reset-box div img {
    width: 40px;
  }
  .default .default-reset img {
    width: 40px;
  }
  .default .default-reset p {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 400px) {
  .item-box {
    margin-bottom: 0px;
  }
}
